body
{
    background-color: #e4d2d2;
    width: 100%px;
    height:100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow-y:scroll;
}
/* footer
{
    width: 1920px;
   margin-right: 0%;
} */
.cine
{
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left:5% ;
    font-family: 'VALORANT', sans-serif;  

}
.butt3
{
    background-color:antiquewhite ;
    padding: 12px 30px;
    position: relative;
    bottom: 65px;
    left: 15px;
    border:none ;
    border-radius: 30px;
}
.butt3 a
{
    text-decoration: none;
    color: #0e1921;
    font-size: 20px;
}
.butt3:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.valv
 {    
height: 382.5px;
width: 900px;
margin: 5%  25% ;
/* border-color: #8f27a9; */
border: 12px solid #14242f;
border-radius: 30px;
position: relative;
right:20% ;
} 
.tit1
{
    position: relative;
    float: right;
  margin-top: -20%;
  right: 10%;
  bottom: 10%;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
}
.tit1 span
{
    font-size: 30px;
    margin-bottom: 5%;
    position: relative;
    bottom: 2%;
    font-family: 'VALORANT', sans-serif;  
    
}
.text1
{
    background-color: #0e1921;
    margin-top: -1%;
    margin-left:-0.4%;
    margin-right:-0.4%;
    padding: 0.1%;
    color: antiquewhite;
    font-family: 'VALORANT', sans-serif;  
    text-align: center;
    position: relative;
    top: 6px;
    font-size: 20px;
}
.pic1 ul li
{
    list-style: none;
    display: inline-block;
    margin: 20px;
    margin-left: 10px;
    padding: 10px 60px;

}
.pic1 ul li img
{ 
  height: 350px;
    width: 150px;
    box-shadow: 10px 10px 10px  #202121;
    margin-bottom:4% ;
    border-radius: 20px;
}
/* .pic1 ul li img:hover
{
    transform: scale(1.1);
    cursor: pointer;
} */
.pic1 ul  div
    { list-style: none;
        background-color: #0e1921;
        height:50PX ;
        width: 150PX;
        margin-top: 3%;
        border-radius: 20px;
        /* transition: width 1s; */
    }
    /* .pic1 ul  div:hover
    {
        width: 150px;
    } */
    .pic1 ul p
    {
        margin-top: -21%;
        margin-left: 30%;
        font-size: 25px;
        font-family: 'VALORANT', sans-serif;  
       color: antiquewhite;
    }
.pic2 ul li
{
    list-style: none;
    display: inline-block;
    margin: 20px;
    margin-left: 10px;
    margin-top:10px;
    padding: 10px 60px;

}
.pic2 ul li img
{
  height: 350px;
    width: 150px;
    box-shadow: 10px 10px 10px  #202121;
    margin-bottom:4% ;
    border-radius: 20px;
}
/* .pic2 ul li img:hover
{
    transform: scale(1.1);
    cursor: pointer;
} */
.pic2 ul  div
    { list-style: none;
        background-color:#0e1921;
        height:50PX ;
        width: 150PX;
        margin-top: 3%;
        border-radius: 50px;
        /* transition: width 1s; */

    }
    /* .pic2 ul  div:hover
    {
        width: 150px;
    } */
    .pic2 ul p
    { 
        color: antiquewhite;
        margin-top: -20%;
        margin-left: 30%;
        font-size: 23px;
        font-family: 'VALORANT', sans-serif;  
    }
.agent
{
    color: rgb(3, 3, 3);
    font-family: 'VALORANT', sans-serif;  
    font-size: 40px;
    margin-left: 5%;
}
.fassel
{
    margin-left: 0%;
    
}

.tit2
{
    color: rgb(3, 3, 3);
    font-family: 'VALORANT', sans-serif;  
    font-size: 40px;
    margin: -0.5%; 
    margin-left:5% ;
    font-weight: bold;
}
.section2 img
{
    
    background-repeat: no-repeat;
    margin-bottom:-12% ;
    margin-left: 10%;
    margin-top:3% ;
    margin-right:20% ;
    height: 500;
    width: 300;
    position: relative;
    left: 150px;
   top: -10px;
   /* box-shadow:10px 10px 10px #0e1921; */
    animation: moveToRight 1s ease-in-out;
    animation-delay: 20ms;
    /* border-right: 10px solid #0e1921;
    border-bottom:10px solid #0e1921 ; */
  } 
  @keyframes moveToRight {
      0% {
          transform: translateX(-650px);
      }
      100% {
          transform: translateX(40px);
      }
  }
.discribe1
{
    color: #0e1921;
    font-size: 40px;
    margin-top:-8% ;
    margin-bottom:7% ;
    margin-left:50% ;
   position: relative;
   left: -20px;
   font-weight: bold;
     /* transform: translate(-60,-30);  */
     border-left: 10px solid #0e1921;
     padding-left: 1%;
}
.foot
{
    width:1925px ;
    height: 300px;
    background-color: #0e1921;
    margin-bottom: -2%;
    margin-left:0% ;
    margin-right:0% ; 
    /* padding-left: 10px; */
}
.foot ul li
{
    list-style: none;
    display: inline-block;
    
}
.foot ul li img
{
     position: relative;
    top: 80px; 
   left: 50px;

}
.foot ul li img:hover
{
    transform: scale(1.2);
    cursor: pointer;
}
.f1
{
    color: antiquewhite;
    font-size: 30px;
    position: relative;
    top:80px;
    left: 30px;
    margin-bottom: 0%;
    border-bottom:5px solid antiquewhite ;
    width: 250px;
}
.f2
{
    color: rgb(0, 0, 0);
    position: relative;
    top: 110px;
    /* left: 840px; */
    background-color: rgb(156, 154, 152);
    width: 1925px;
    margin-bottom: -2%;
    text-align: center;
    font-family: 'VALORANT', sans-serif;  

}
/* .butt2
{
    position: relative;
    top: -90px;
    left: 770px;
    bottom: 25px;
    background-color: antiquewhite;
    border: none;
    padding: 20px 80px;
    border-radius: 40px;
    font-size: 25px;
}
.butt2:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.buttp2
{
    color: antiquewhite;
    font-size: 30px;
    position: relative;
    top:-105px;
    left: 780px;
    margin-bottom: 0%;
    border-bottom:5px solid antiquewhite ;
    width: 250px;
} */
.six
{ 
    color: antiquewhite;
    position: relative;
    bottom: 160px;
    font-size: 70px;
     left:1500px;
     /* border: 5px solid antiquewhite; 
     border-radius:100px; 
     width: 150px;
     padding: 0.25%; */
}
.visa
{
    position: relative;
    bottom: 20px;
    left:1635px ;
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Improvisation', sans-serif;
    border: 5px solid antiquewhite;
    padding-left: 1%;
    border-radius: 30px;
    width: 200px;
}
.unor
{
    list-style-image:url("../media/arrow.png");
    color: antiquewhite;
    position: relative;
    bottom: 270px;
    left: 750px;
    font-size: 50px;
    /* list-style: none; */
    justify-content: space-between;
    margin: 2%;
    margin-bottom: 22%;
    line-height: 1.5;

}
.unor li a
{
    text-decoration: none;
    color: antiquewhite;
}
.unor li :hover
{
    color: rgb(42, 104, 237);
    transition: 0.4s;
}